@import "../../../../styles/parameters.scss";

.post-preview {
    min-height: 150px;
    height: auto;
    width: 80%;
    max-width: 850px;
    margin: 25px auto;
    position: relative;
    box-shadow: $dark-box-shadow;
    background-color: $dark-black;
    transition: .3s;
    padding: 25px;
    padding-bottom: 50px;

    &:hover {
        box-shadow: $light-box-shadow;
        transition: .3s;
    }

    &_title {
        font-size: 25px;
        font-weight: 600;
        color: $light-white;
        line-height: 1.5;
    }

    &_text {
        font-size: 18px;
        color: $primary-text-color;
        margin-top: 15px;
        line-height: 1.5;
    }

    &_meta {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 190px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        font-size: 16px;
        color: $primary-text-color;
        padding: 10px;

        &_author {
            // ..
        }

        &_date {
            // ..
        }
    }  
}