@import "../../../styles/parameters.scss";

.bottom-notification {
    background-color: $dark-black;
    color: $light-white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}