@import "../../../styles/parameters.scss";

.section-gradient-header {
    &_divider {
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: $primary-background-color;
        background-image: radial-gradient(
            20rem at center,
            lighten($header-gradient-color, 35%),
            $primary-background-color
        );
    }

    &_gradient {
        background: radial-gradient(
        ellipse at top,
        darken($header-gradient-color, 35%) -100%,
        $primary-background-color 70%
        );
        height: 27rem;
        width: 100%;
        position: absolute;
        top: 1px;
        left: 0;
        right: 0;
    }
}
