@import "../../../styles/parameters.scss";

.avatar {
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    box-shadow: $light-box-shadow;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    user-select: none;
}