@import "../../../styles/parameters.scss";

.history {
    min-height: 1100px;
    height: auto;
    color: $primary-text-color;
    position: relative;
    padding-bottom: 100px;

    & > * {
        position: relative;
        z-index: 1;
    }
}

@media only screen and (max-width: 800px) {
    .history {
        min-height: 1500px;
    }
}