.history {
    min-height: 1100px;
    height: auto;
    color: #a9b1b6;
    position: relative;
    padding-bottom: 100px;

    & > * {
        position: relative;
        z-index: 1;
    }
}

@media only screen and (max-width: 800px) {
    .history {
        min-height: 1500px;
    }
}