.timeline {
    height: 80vh;
    width: 450px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    &_line {
        width: 1px;
        background-color: blue;
        position: absolute;
        left: 50%;
        right: 50%;
    }
}