.timeline {
    height: auto;
    width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: 1;

    &_line {
        width: 3px;
        background-image: linear-gradient(#a9b1b6, transparent);
        position: absolute;
        left: 50%;
        right: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .timeline {
        width: auto;

        &_line {
            position: absolute;
            left: auto;
            right: 50px;
        }
    }
}

@media only screen and (max-width: 450px) {
    .timeline {
        &_line {
            right: 25px;
        }
    }
}