@import "../../../styles/parameters.scss";

.navigation {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 60px;
    z-index: 998;
    color: $primary-text-color;
    border-right: 1px solid $primary-text-color;
    transition: 1s;

    &_toggle {
        height: 40px;
        width: 40px;
        border: 1px solid $primary-text-color;
        background-color: black;
        position: absolute;
        z-index: 999;
        right: -20px;
        top: 50%;
        transform: translateY(-20px) rotate(45deg);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $light-box-shadow;

        & > * {
            transform: rotate(-45deg);
        }
    }

    &_open {
        width: 200px;
        transition: 1s;
        background-color: rgba(0, 0, 0, 0.9);
    }

    &_links {
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 24px;
        position: relative;

        &_show {
            left: 0;
            transition: 1s;
        }

        &_hide {
            left: -1000px;
            transition: 1s;
        }

        & div {
            margin: 20px;
            user-select: none;

            & a {
                text-decoration: none;
                color: $primary-text-color;
                position: relative;

                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: white;
                    box-shadow: $light-box-shadow;
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                }

                &:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .navigation {
        height: 60px;
        width: 100%;
        border-right: 0px;
        border-bottom: 1px solid $primary-text-color;

        &_toggle {
            top: auto;
            bottom: -20px;
            left: 50%;
            transform: translateX(-20px) rotate(45deg);
        }

        &_open {
            width: 100%;
            height: 200px;
            transition: 1s;
        }

        &_links {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            &_show {
                left: auto;
                top: 0;
                transition: 1s;
            }
    
            &_hide {
                left: auto;
                top: -1000px;
                transition: 1s;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .navigation {

        &_open {
            height: 400px;
        }

        &_links {
            flex-direction: column;
        }
    }
}