@import "../../../../../styles/parameters.scss";

.bullet {
    border: 1px solid $primary-text-color;
    border-radius: 25px;
    color: $primary-text-color;
    background-color: $dark-black;
    box-shadow: $light-box-shadow;
    width: 250px;
    padding: 20px;
    position: relative;

    &_connector {
        width: 100px;
        height: 2px;

        &-left {
            position: absolute;
            top: 50%;
            bottom: 50%;
            left: -100px;
            background-image: linear-gradient(to left, $primary-text-color, transparent);
        }

        &-right {
            position: absolute;
            top: 50%;
            bottom: 50%;
            right: -100px;
            background-image: linear-gradient(to right, $primary-text-color, transparent);
        }
    }
}

.left {
    position: absolute;
    left: 0;
}

.right {
    position: absolute;
    right: 0;
    text-align: right;
}

@media only screen and (max-width: 800px) {
    .bullet {
        right: 150px;

        &_connector {
            &-left {
                left: auto;
                right: 50px;
                background-image: linear-gradient(to right, $primary-text-color, transparent);
            }

            &-right {
                right: 50px;
            }
        }
    }

    .left {
        left: auto;
        right: 0;
        text-align: right;
    }
}

@media only screen and (max-width: 450px) {
    .bullet {
        right: 100px;
        width: 175px;

        &_connector {
            width: 75px;

            &-left {
                right: 25px;
            }

            &-right {
                right: 25px;
            }
        }
    }
}