.header {
    background: #191919;
    height: 100vh;
    position: relative;

    &_particles {
        position: relative;
        z-index: 1;
        height: 100%;
        width: 100%;
    }

    &_wrapper {
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;

        &_name {
            color: #a9b1b6;
            text-align: center;
        }
    }
}