@import "../styles/parameters.scss";

html body {
    background-color: $primary-background-color;
}

* {
    font-family: "Titillium Web" !important;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    overflow: auto;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    padding: 50px;
    user-select: none;
}

h2 {
    user-select: none;
}

h3 {
    user-select: none;
}


