@import "../../../styles/parameters.scss";

.skills {
    min-height: 100vh;
    height: auto;
    color: $primary-text-color;
    position: relative;
    padding-bottom: 100px;

    &_wrapper {
        width: 1200px;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap
    }

    & h1 {
        position: relative;
        z-index: 1;
    }
}


@media only screen and (max-width: 1400px) {
    .skills {
        &_wrapper {
            width: 90%;
            justify-content: center;
        }
    }
}