@import "../../../styles/parameters.scss";

.contact {
    min-height: 100vh;
    height: auto;
    color: $primary-text-color;
    position: relative;
    padding-bottom: 100px;

    & > * {
        position: relative;
        z-index: 1;
    }
}