@import "../../../../styles/parameters.scss";

.skill-container {
    border: 1px solid $primary-text-color;
    border-radius: 25px;
    background-color: $dark-black;
    color: $primary-text-color;
    position: relative;
    z-index: 1;
    min-height: 250px;
    height: auto;
    width: 300px;
    box-shadow: $light-box-shadow;
    padding: 25px;
    margin: 35px;

    &_title {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &_skill {
        margin: 10px auto;
        text-align: center;
    }
}