.skill-container {
    border: 1px solid #a9b1b6;
    border-radius: 25px;
    background-color: black;
    color: #a9b1b6;
    position: relative;
    z-index: 1;
    height: 500px;
    width: 200px;

    &_title {
        height: 50px;
        border-bottom: 1px solid #a9b1b6;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_skill {
        margin: 10px auto;
        text-align: center;
    }
}