@import "../../../styles/parameters.scss";

.warning-banner {
    background-color: $dark-black;
    height: 100px;
    width: 100%;
    position: absolute;
    top: 100px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

@media only screen and (max-width: 950px) {
    .warning-banner {
        top: 5vh;
    }
}