.projects {
    min-height: 100vh;
    height: auto;
    color: #a9b1b6;
    position: relative;
    padding-bottom: 100px;

    &_container {
        width: 65%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    & > * {
        position: relative;
        z-index: 1;
    }
}