@import "../../../styles/parameters.scss";

.projects {
    min-height: 100vh;
    height: auto;
    color: $primary-text-color;
    position: relative;
    padding-bottom: 100px;

    &_container {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &_download {
        text-align: center;
        width: auto;
        margin: 50px auto 20px auto;
        max-width: 80%;
        font-size: 20px;
        
        & a {
            text-decoration: none;
            color: $primary-text-color;
            display: block;
            margin-top: 50px;

            &:hover {
                color: white;
            }
        }
    }

    & > * {
        position: relative;
        z-index: 1;
    }
}

@media only screen and (max-width: 1400px) {
    .projects {
        &_container {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .projects {
        &_container {
            width: 100%;
        }
    }
}